*.o
*.d
*.a
*.bin
*.history

# for ROS catkin_ws
ros_catkin_ws/.catkin_workspace
ros_catkin_ws/build
ros_catkin_ws/devel
ros_catkin_ws/src/CMakeLists.txt

# for TrueSTUDIO
mros_ws/.metadata/
mros_ws/*/.metadata/
mros_ws/*/.settings/language.settings.xml

# for ASP
asp
asp.*
cfg1_out*
kernel_cfg*
offset.h
GR-PEACH_mbed.map
Makefile.depend

# etc.,,,
*.swp
.DS_Store

# editor
.vscode