*.o
*.d
*.a
*.bin
*.history

# for TrueSTUDIO
examples/truestudio/.metadata/
examples/truestudio/*/.metadata/
examples/truestudio/*/.settings/language.settings.xml

# for ASP
asp
asp.*
cfg1_out*
kernel_cfg*
offset.h
GR-PEACH_mbed.map
Makefile.depend

# etc.,,,
*.swp
.DS_Store
