*.o
*.d
*.a
*.bin
*.history

# for TrueSTUDIO
examples/truestudio/.metadata/
examples/truestudio/*/.metadata/
examples/truestudio/*/.settings/language.settings.xml

# for ASP
asp.*
cfg1_out.*
kernel_cfg.*
offset.h

# etc.,,,
*.swp
.DS_Store
