/*
 *  @(#) $Id: dbgu_serial.cfg 2742 2016-01-09 04:25:18Z ertl-honda $
 */

/*
 *  SIOドライバ（AT91SAM7S用）のコンフィギュレーションファイル
 */

#include "target_serial.h"
ATT_INI({ TA_NULL, 0, sio_initialize });
ATT_ISR({TA_NULL, 1, INHNO_SIO, sio_isr, 1});
CFG_INT(INTNO_SIO, { INTATR_SIO, INTPRI_SIO });
