/*
 *  SIOドライバ（STBEE用）のコンフィグレーションファイル
 */

#include "target_serial.h"
ATT_INI({ TA_NULL, 0, sio_initialize });
ATT_ISR({ TA_NULL, SIO_PORTID, INTNO_SIO, sio_isr, 1 });
CFG_INT(INTNO_SIO, { TA_ENAINT|INTATR_SIO, INTPRI_SIO });
