/*
 *  $Id: sample1.cfg 2416 2012-09-07 08:06:20Z ertl-hiro $
 */

/*
 *  サンプルプログラム(1)のシステムコンフィギュレーションファイル
 */

INCLUDE("target_timer.cfg");
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

INCLUDE("../mbed-lib/common/common.cfg");

#include "blinky.h"

CRE_TSK(BLINKY_MAIN_TASK, { TA_ACT, 0, blinky_main_task, BLINKY_MAIN_TASK_PRI, BLINKY_MAIN_TASK_STACK_SIZE, NULL });
