<launch>
  <node pkg="uvc_camera" name="uvc_cam" type="uvc_camera_node"/>
  <node pkg="image_view" name="img_raw" type="image_view" args="image:=/image_raw"/> 
  <node pkg="image_view" name="img_ind" type="image_view" args="image:=/input_data"/>
  <node pkg="image_view" name="img_pcf" type="image_view" args="image:=/image_fast_pc"/>
  <node pkg="image_view" name="img_pif" type="image_view" args="image:=/image_fast_pi"/>
  <node pkg="image_view" name="img_fpf" type="image_view" args="image:=/image_fast_fpga"/>
 <node pkg="preprocess" name="preprocess" type="preprocess_node" args="$(arg width) $(arg height)"/>
 <node pkg="fast" name="fast1" type="fast_node" args="/image_fast_pc 1"/>
</launch>
